body {
    margin: 0;
    font-family: Arial, sans-serif;
    text-align: center;
    background: #f4f4f4;
    color: #333;
}

header {
    background: #222;
    color: white;
    padding: 20px;
}

nav {
    margin-top: 15px;
}

nav a {
    color: white;
    text-decoration: none;
    margin: 0 15px;
    font-weight: bold;
}

section {
    padding: 60px 20px;
}

#skills .card:first-child p {
    color: blue;
}

#skills .card:nth-child(2) p {
    color: blue;
}

#skills .card:nth-child(3) p {
    color: blue;
}
.hero img {
    width: 180px;
    height: 180px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 20px;
}

.cards {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
}

.card {
    background: white;
    width: 220px;
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0 4px 10px rgba(0,0,0,.1);
}

footer {
    background: #222;
    color: white;
    padding: 20px;
    margin-top: 40px;
}
